/* Main app specific css file */

div.electric_chart
{
  position: relative;
  top: -10px;
  left: 10px;
  width: 950px;         /* Match to tab content size. */
  height: 464px;        /* Match to tab content size - 100px for other content. */
  display: table-cell; 
  /* padding: 10px;  */
  /* border: 2px solid rgb( 255, 255, 255 ); */
  /* vertical-align: middle; */
  /* overflow: auto; */

  /* Oh look, left over code from another project!  Clean this up soon!! */
  /*background-image: url('lib/pChart2.1.3/examples/resources/dash.png');*/
}